@font-face {
  font-family: 'LTAIdentity';
  src: url('lta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
}

/* body */
body > div {
  display: flex;
  justify-content: space-between;
}
body > h1 {
  text-align: center;
  font-weight: bolder;
}

/* div */
div div {
  max-width: 50vw;
}
div div h1 {
  font-family: "LTAIdentity", sans-serif;
}

/* button */
button {
  background-color: hsl(76, 59%, 53%);
  color: black;
  border: none;
  font-size: 1.25rem;
  margin: 0.25rem;
  transition: background-color 0.25s;
  font-family: "LTAIdentity", sans-serif;
  border-radius: 9e9rem;
}
button:hover {
  background-color: hsl(76, 59%, 70%);
}
button:active {
  background-color: hsl(76, 59%, 36%);
}
button:disabled {
  background-color: hsl(76, 30%, 53%);
}
button[onclick = "location.reload()"] {
  font-family: sans-serif;
}

/* dialog */
dialog {
  border-radius: 1rem;
  border: none;
}
dialog h1{
  font-family: "LTAIdentity", sans-serif;
  display: inline;
}
dialog::backdrop {
  backdrop-filter: blur(0.25rem);
}
dialog div button {
  font-family: "LTAIdentity", sans-serif;
}
dialog span {
  float: right;
  font-size: 2rem;
  transition: background-color 0.25s;
  border-radius: 9e9rem;
}
dialog span {
  cursor: pointer;
}
dialog span:hover {
  background-color: red;
}