@font-face {
  font-family: 'LTAIdentity';
  src: url('lta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-size: 1rem;
} 
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Important */
}
#map {
  width: 100%;
  height: 100%; /* Important */
  z-index: 0;
}
.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
h1 {
  z-index: 99;
  position: absolute;
  left: 50%;
  translate: -50%;
  font-family: sans-serif;
  font-size: 2rem;
  border-radius: 9e9rem;
  margin: 0.25rem;
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.25rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

/* leaflet */
.leaflet-control {
  display: none;
}
.leaflet-popup-content {
  font-family: "LTAIdentity", sans-serif;
}

/* button */
button {
  background-color: hsl(76, 59%, 53%);
  color: black;
  border: none;
  margin: 0 0.125rem;
  transition: background-color 0.25s;
  font-family: "LTAIdentity", sans-serif;
  border-radius: 9e9rem;
}
button:hover {
  background-color: hsl(76, 59%, 70%);
}
button:active {
  background-color: hsl(76, 59%, 36%);
}
button:disabled {
  background-color: hsl(76, 30%, 53%);
}