@font-face {
  font-family: 'LTAIdentity';
  src: url('lta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Important */
}
#map {
  width: 100%;
  height: 100%; /* Important */
}
.leaflet-control {
  display: none;
}